.darkMode {

    background-color: black;
    color: white;
}

.row {

    display: flex;
}

.column {

    width: 100%;
    margin-right: 5px;
    padding: 30px;
    height: 600px;
    border-style: solid;
    border-radius: 10px;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 100px;
}

.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-blog {

    display: flex;
    align-items: center;
}

.h1 {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    transform: translate(-50%, -50%);
}

.form {

    display: inline-block;
    width: 100%;

}

h2 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: monospace;
}

.input-group {
    font-weight: bold;

}

input [type-text] {

    display: inline-block;
    width: 88%;
    padding: 40px, 40px;
}

label {

    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#Content {

    height: 100px;
    width: 80%;

}

#Submit {

    width: 90%;
    height: 30%;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.dark {

    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

}